[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "~=1.7"
aioredis = "==2.0.0a1"
sanic = "~=21.3"
aiohttp = "~=3.7"
jinja2 = "~=3.0"
schema = "~=0.7"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
