<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ snippet_name }}</title>
    <link rel="stylesheet" href="/css/snippet.css">
</head>

<body>
    <div id="snippet-content"></div>

    <script src="/js/discord-markdown.min.js"></script>
    <script src="/js/snippet.js"></script>
    <script>loadSnippet("{{ snippet_id }}");</script>
</body>

</html>