body {
    background-color: #36393f;
    color: #dcddde;

    max-width: 72rem;
    margin: auto;
    padding: 0 .25rem;
}

#index-title {
    text-align: center;
}

#index-nav {
    justify-content: center;
}

.index-nav-item {
    border: 2px solid;
    border-radius: 13px;
    margin: 0 0.3rem;
}

.index-nav-item .nav-link {
    display: inline-block;
    padding: .15rem 1rem;
    min-width: 3rem;
    text-align: center;
}
