body {
    background-color: #36393f;
    color: #dcddde;

    max-width: 72rem;
    margin: auto;
    padding: 0 .25rem;
}

.navbar {
    border-width: 0 2px 2px;
    border-color: #4f545c;
    border-style: solid;
    border-radius: 0 0 13px 13px;
    background-color: rgba(4, 4, 5, 0.1);
}

#cur-user-name {
    font-weight: bold;
}

#logout-btn {
    display: none;
}

a, .nav-link {
    color: #4d7fca;
}

#page-title {
    text-align: center;
    margin: 0.5rem 0;
}

#index-tab-content .nav {
    justify-content: center;
    margin: 0.3rem 0;
}

.series-list-container {
    margin: 1.5rem 0;
}

.index-nav-item {
    margin: 0.25rem 0.3rem;
    border: 2px solid #4f545c;
    border-radius: 13px;
    background-color: rgba(4, 4, 5, 0.2);
}

.index-nav-item:hover {
    border-color: rgb(138, 138, 138);
    background-color: rgba(4, 4, 5, 0.37);
}

.index-nav-item .nav-link {
    display: inline-block;
    padding: .15rem 1rem;
    min-width: 3rem;
    text-align: center;
}

.index-nav-item:hover .nav-link {
    color: rgb(109, 145, 199);
}

.series-list-header {
    margin-bottom: 0;
}

.series-list {
    list-style: none;
    padding-left: 0;
}

.series-entry {
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    border: 2px solid #4f545c;
    border-radius: 13px;
    background-color: rgba(4, 4, 5, 0.1);
}

.series-link {
    font-size: 1.5rem;
    padding-right: 0.4rem;
}

.series-authors {
    display: inline;
    font-size: 1.125rem;
    padding-left: 0.4rem;
    vertical-align: baseline;
}

.series-infobar {
    display: flex;
    align-items: center;
}

.series-info-container {
    display: flex;
    flex: auto;
}

.series-edit-error {
    flex: auto;
    margin-left: auto;
    margin-right: .5rem;
    text-align: end;
}

.series-info-container > span {
    padding: 0 0.75rem;
    border-right: 1px solid;
    width: max-content;
}

.series-info-container > span:first-child {
    padding-left: 0;
}

.series-info-container > .series-update-time {
    padding-right: 0;
    border-right: none;
}

.series-info-container > .series-edit-error {
    margin-left: 0.75rem;
    border-left: 1px solid;

    padding-right: 0;
    border-right: none;
}

.series-content-warnings {
    font-weight: bold;
}

.series-btn-container {
    width: 25%;
    margin-left: 1rem;
    text-align: end;
}

.series-title-input {
    display: inline;
    width: 33%;
    margin-right: 0.4rem;
}

.series-tag-edit-bar {
    margin-bottom: .25rem;
}

.series-tag-input-label {
    font-weight: bold;
}

.series-tag-input {
    display: inline;
    width: 33%;
    padding: .125rem .5rem;
    margin-left: .5rem;
}

.series-delete-confirm-label {
    font-weight: bold;
}
