body {
    background-color: #36393f;
    color: #dcddde;

    max-width: 72rem;
    margin: auto;
    padding: 0 .25rem;
}

.series-header {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.series-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 3.5rem;
}

.series-author {
    display: inline;
    font-size: 1.8rem;
}

.series-author + .series-author::before {
    content: ", ";
}

.series-display-name {
    margin: 0;
    text-decoration: underline dotted;
    cursor: help;
}

.series-user-name {
    display: none;
    margin-left: 0.5rem;
    font-size: 1.1rem;
    line-height: 2.25rem;
    vertical-align: text-bottom;
    color: hsla(210, 3%, 87%, 0.65);
}

.series-user-name::before {
    content: "(";
}

.series-user-name::after {
    content: ")";
}

.series-author:hover .series-user-name {
    display: inline;
}

.snippet-container {
    margin: 1.5rem 0;
}

.snippet-separator {
    margin: 0 auto;
    width: 100%;
}

.snippet {
    line-height: 1.375rem;
}

.d-emoji {
    width: 1.625rem;
    vertical-align: bottom;
}