<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ series_title }} by {{ display_name }}</title>
    <link rel="stylesheet" href="/css/snippet.css">
</head>

<body>
    <div class="series-header">
        <h1 class="series-title">{{ series_title }}</h1>
        <div class="series-authors">
            {% for author in authors %}
            <span class="series-author"><span class="series-display-name">{{ author.display_name | trim }}</span><span class="series-user-name">{{ author.username | trim }}#{{ author.discriminator }}</span></span>
            {% endfor %}
        </div>
    </div>

    <hr class="snippet-separator">

    {% for snippet in snippets %}

    <div class="snippet-container">
        <div class="snippet" id="snippet-{{ snippet.message_id }}"></div>
    </div>

    <hr class="snippet-separator">

    {% endfor %}

    <script src="/js/discord-markdown.min.js"></script>
    <script>
        {% for snippet in snippets %}

        document.addEventListener("DOMContentLoaded", function (ev) {
            var container = document.getElementById("snippet-{{ snippet.message_id }}");
            container.innerHTML = discordMarkdown.toHTML({{ snippet.escaped_content }});
        });

        {% endfor %}
    </script>
</body>

</html>